body{
margin : 0;
background: #BD8D46;



}


/* MENU VERTICAL*/

#side_bar_menu h2
{

	font-size: 1.9em;
	text-align: justify-center;
	color: #F5DEB3;
	margin-left : 50px;
	
	
}


#side_bar_menu {

  background: #BD8D46;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 20%;
  padding-top:  5%;
  display : inline-block;
  float : left;
  min-width : 200px;
  position : absolute;
  margin-top: 0px;
  height : 670px;
  border-right : 1px solid #393939;
  
 
}

#side_bar_menu li {
  font: 100% "Lucida Grande";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

#side_bar_menu a {
  background: #BD8D46;
  border-bottom: 1px solid #393939;
  color: #F5DEB3;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#side_bar_menu a:hover {
  background: #CD853F;
  color: #fff;
  padding-bottom: 8px;
  
  cursor: hand;
}



/* COntenur de la page */

#loader{

height: 95%;

background-color: #BD8D46;

border: 0;
padding: 20px;
margin-left: 0;

}

#content
{
position : absolute;
left : 300px;
width : 75%;
display : inline-block;
float : right;
margin : 20px;
min-width : 500px;
height: 80%;
border-left : 1px solid #393939;



}

#content h2
{

	font-size: 1.9em;
	text-align: justify;
	color: #F5DEB3;
	margin-top : 40px;
	margin-left : 10px;
	border-bottom: 1px solid #393939;
	width : 100%;
}






.titre_stat
{
font-family:arial;
font-size:18px;
color:#F5DEB3;
margin:20px;
display : inline-block;
font-weight:bold;
}

.titre_date
{
font-family:arial;
font-size:16px;
color:#380202;
margin:20px;

}
